@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    position:relative;
}
.mapdiv {
    width:50%;
    height:50%;
    margin:auto;

}
/* MAP STYLE */
svg {
    width:900px;
    height:900px;
}

.land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:1.2;
    transition: transform 0.25s ease-in-out;
}
.land:hover {
    transform:scale(1.01);
    fill: #ddd;
}
.popUp {
    padding:1em;
    position:absolute;
    left:0px;
    top:0px;
    border-radius:20px;
    background-color:black;
    color:beige;
    font-family: 'Ubuntu', sans-serif;
}
.city-name {
    color:beige;
}
